body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background: #fff;
}
/* View Profile */
.profile-top {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
}
.profile-header {
  margin: 10px 0 0 0;
  display: flex;
  width: 55%;
  justify-content: center;
}
.profile-header h4 {
  color: #d80c0c;
}

.profile-header .profile-image {
  margin-right: 50px;
}

.back a,
.logout {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

/* Edit Profile */
.edit-profile-top {
  width: 100%;
  margin-top: 5em;
  padding-left: 10%;
}

.edit-header-box {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 2rem;
}
.edit-header-box h4 {
  color: #d80c0c;
}
.edit-profile-btn {
  text-align: center;
}
